{% extends "layout.html" %}

{% block body %}
  <ul class="messages">


  {% if ratings.count() %}
    <br/>
    <table class="row table table-striped table-hover">
      <tr>        
        <th class="col-lg-1 col-lg-offset-1">#</th>
        <th class="col-lg-1">Name</th>
        <th class="col-lg-1">Symbol</th>
        <th class="col-lg-1">Market Cap</th>
        <th class="col-lg-1">Price</th>
        <th class="col-lg-1">Circulating Supply</th>
        <th class="col-lg-1">Volume (24h)</th>
        <th class="col-lg-1">% 1h</th>
        <th class="col-lg-1">% 24h</th>
        <th class="col-lg-1">% 7d</th>
        <th class="col-lg-1">date update</th>
      </tr>  
    {% for rate in ratings %}
      <tr>
        <td class="col-lg-1  col-lg-offset-1">{{ rate.rating }}</td>
      <td class="col-lg-1 BLUE">{{ rate.name_coin.name }}</td>
      <td class="col-lg-1">{{ rate.symbol_coin }}</td>
      <td class="col-lg-1">${{ rate.market_cap|round|int }}</td>
      <td class="col-lg-1 BLUE">{{ rate.price }}</td>
      <td class="col-lg-1 BLUE">${{ rate.supply|round|int }}</td>
      <td class="col-lg-1 BLUE">${{ rate.volume|round|int }}</td>
      <td class="col-lg-1 GREEN">
        {% set h1 = rate.h1*100 %}
        {% if h1 >= 0 %}
            {{ h1|round(2, 'common') }}%
        {% else %}
            <span class='RED'>{{ h1|round(2, 'common') }}%</span>
        {% endif %}
      </td>
      <td class="col-lg-1 GREEN">
        {% set h24 = rate.h24*100 %}
        {% if h24 >= 0 %}
            {{ h24|round(2, 'common') }}%
        {% else %}
            <span class='RED'>{{ h24|round(2, 'common') }}%</span>
        {% endif %}
      </td>
      <td class="col-lg-1 GREEN">
        {% set d7 = rate.d7*100 %}
        {% if  d7 >= 0 %}
            {{  d7|round(2, 'common') }}%
        {% else %}
            <span class='RED'>{{ d7|round(2, 'common') }}%</span>
        {% endif %}
      </td> 
      <td class="col-lg-1">{{ rate.pub_date.strftime('%Y-%m-%d %H:%M') }}</td>  
      </tr>
      
    {% endfor %}
    </table>


  {% else %}
      <li><p class="bg-warning">No results found</p>
  {% endif %}
  </ul>
  <a href="{{ url_for('home_page') }}">Back</a>
{% endblock %}