{% extends "layout.html" %}

{% block body %}
  <script type="text/javascript">

  $(document).ready(function(){

    /*  function sendMessage() {
          var txt = $('#text_search').val();
          $.post("/", {text: txt}, function(data) {
          console.log(data)
          document.write(data);
          });

      };

      // send message from text search field
      $('#submit').click(function() {
        console.log('click')
        sendMessage();
      });
  }) */
  </script>
  <br/>
  <div class="row">
    <form action="results" method="post" class="form-inline  col-lg-6 col-lg-offset-1">
      <input type="text" id="text_search" name="text" value="" class="form-control">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input type="submit" id="submit" name="submit" class="btn btn-default" value="Find">
    </form>
  </div>
  <br/>
  <ul class="messages">
  <table class="row  table table-striped table-hover">
    <tr>
  		<th class="col-lg-1 col-lg-offset-1">#</th>
      <th class="col-lg-1">Name</th>
      <th class="col-lg-1">Symbol</th>
  		<th class="col-lg-1">Market Cap</th>
      <th class="col-lg-1">Price</th>
  		<th class="col-lg-1">Circulating Supply</th>
  		<th class="col-lg-1">Volume (24h)</th>
      <th class="col-lg-1">% 1h</th>
  		<th class="col-lg-1">% 24h</th>
      <th class="col-lg-1">% 7d</th>
    </tr>  
  {% for rate in ratings %}
    <tr>
      <td class="col-lg-1  col-lg-offset-1">{{ rate.rating }}</td>
      <td class="col-lg-1 BLUE">
        <a href="/coin/{{ rate.symbol_coin }}">
          {{ rate.name_coin.name }}
        </a>
        
      </td>
      <td class="col-lg-1">{{ rate.symbol_coin }}</td>
      <td class="col-lg-1">${{ rate.market_cap|round|int }}</td>
      <td class="col-lg-1 BLUE">{{ rate.price }}</td>
      <td class="col-lg-1 BLUE">${{ rate.supply|round|int }}</td>
      <td class="col-lg-1 BLUE">${{ rate.volume|round|int }}</td>
      <td class="col-lg-1 GREEN">
        {% set h1 = rate.h1*100 %}
        {% if h1 >= 0 %}
            {{ h1|round(2, 'common') }}%
        {% else %}
            <span class='RED'>{{ h1|round(2, 'common') }}%</span>
        {% endif %}
      </td>
      <td class="col-lg-1 GREEN">
        {% set h24 = rate.h24*100 %}
        {% if h24 >= 0 %}
            {{ h24|round(2, 'common') }}%
        {% else %}
            <span class='RED'>{{ h24|round(2, 'common') }}%</span>
        {% endif %}
      </td>
      <td class="col-lg-1 GREEN">
        {% set d7 = rate.d7*100 %}
        {% if  d7 >= 0 %}
            {{  d7|round(2, 'common') }}%
        {% else %}
            <span class='RED'>{{ d7|round(2, 'common') }}%</span>
        {% endif %}
      </td>  
      
    </tr>
    
  {% endfor %}
  </table>
  </ul>
    <p id="sup"></p>
    
{% endblock %}
